@import 'tailwindcss';
@import '@fontsource/poppins';


html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Heligthon Signature';
    src: url('../fonts/Heligthon\ Signature.otf');
}

* {
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;

    font-family: 'Poppins', serif;
}
